[log]
	date = relative
[alias]
	l = log --graph --pretty=format:'%C(auto,red)%h%Creset -%C(auto,cyan)%d%Creset %s %C(auto,yellow)[%cN]%Creset %C(auto,green)(%ad)%Creset'
	s = status -sb
	d = diff --word-diff
	ds = diff --stat
	co = checkout
	browse = !explorer `git config remote.origin.url`
	k = !gitk --all
	branch-name = !git rev-parse --abbrev-ref HEAD
	publish = !git push -u origin $(git branch-name)
[push]
	default = simple
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
